*{
    padding:0;
    margin:0;
}

.container{
    display: flex;
    justify-content:center;
    align-items:space-between;
    height:auto;
}

.nu1{
    background-color:#B6F2CD;

}

.nu2{
    background-color:#E3FED2;

}
.nu3{
    background-color:#C7F6AC;
    

}

.container p{
    font-size: 22px;
    padding: 20px;
}

.container img{
    width:100%;

}
header{
    text-align:center;
    font-weight:bold;
    font-size:30px;

}

@media all and (max-width:400px){
    
}